body.protanopia {
    --cor-um: #7C6D85;
    --cor-dois: #B26C82;
    --cor-tres: #5C505C;
    --cor-quatro: #E2B46C;
}

body.deuteranopia {
    --cor-um: #7C5C85;
    --cor-dois: #B25C80;
    --cor-tres: #5C505C;
    --cor-quatro: #E2C46F;
}

body.tritanopia {
    --cor-um: #7C5C99;
    --cor-dois: #C977A6;
    --cor-tres: #3D3D70;
    --cor-quatro: #E2C46F;
}

body.contraste {
    --cor-um: #000000;
    --cor-dois: #000000;
    --cor-tres: #000000;
    --cor-quatro: #FFD700;
}

.acessibilidade-flutuante {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.acessibilidade-opcoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    display: none;
}

.acessibilidade-flutuante.ativo .acessibilidade-opcoes {
    display: flex;
}
